<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsProject.Properties.Settings.MyDBConnectionString"
            connectionString="Data Source=DESKTOP-BGJ99HF\SQLEXPRESS;Initial Catalog=MyDB;User ID=sa;Password=alamin@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>